<!-- ---
// import { getCollection } from "astro:content";
// const posts = await getCollection("blog")
// console.log(posts)

const {frontmatter} = Astro.props;

import Test from "../layouts/Test.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { Image } from 'astro:assets';
import FeaturedImage from '../assets/images/home/1.webp'
import ContentImage1 from '../assets/images/home/2.webp'
---
<Test>

 <div class="container mx-auto px-4">
  
  <h1 class="text-4xl font-bold text-center mt-16 mb-16">{frontmatter.title}</h1>

  <Image src={FeaturedImage} alt="Featured Image" class="rounded-lg w-1/2 mx-auto shadow-md mb-8" loading = "eager"></Image>
  

  <div class="max-w-3xl mx-auto">



    <h2 class="text-2xl font-semibold mb-4">Section Heading</h2>
    <a href="../content/blog/first-post.md">hi</a>
    <p class="text-lg leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt tortor in imperdiet rhoncus. Donec mollis felis quis interdum iaculis. Nam accumsan pretium augue et pulvinar. Integer malesuada id lorem sed interdum. Nullam eu bibendum justo. Aliquam in urna risus. Quisque a turpis dignissim orci fermentum mollis in et lectus. Nulla bibendum bibendum sem cursus feugiat. Sed enim ipsum, sagittis sit amet viverra id, pellentesque nec lectus. Quisque sollicitudin neque sit amet enim sagittis, in venenatis libero auctor.

      Maecenas pellentesque nec mauris ut porttitor. Pellentesque auctor turpis vitae eleifend hendrerit. Aliquam nunc purus, facilisis sed venenatis id, dapibus nec ipsum. Sed fringilla, arcu non eleifend rhoncus, urna odio ultrices dui, et finibus purus eros vel felis. Ut pellentesque fermentum justo at ultrices. Donec non est tempor, sagittis nunc vel, vulputate lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla viverra nisl et purus porta malesuada.</p>


    <div class="divide-y divide-gray-200">
      <div class="py-4">
        <h3 class="text-xl font-medium mb-2">Subsection Heading</h3>
        <p>Vestibulum sagittis dictum nisl eu porta. Quisque fringilla, mi et pulvinar interdum, nulla risus pellentesque odio, eu dictum erat orci et nisl. Ut in nunc blandit, rhoncus elit nec, posuere felis. Mauris in cursus arcu, efficitur posuere lacus. Sed lobortis mi ultrices magna euismod, convallis malesuada mi vestibulum. Donec sed bibendum elit. Suspendisse nec sollicitudin felis, nec vehicula risus. Praesent ullamcorper euismod viverra. Mauris est magna, porttitor nec justo eleifend, maximus finibus sapien. Vivamus auctor lorem at magna mattis, et varius tortor sagittis. Duis luctus viverra ante. Vivamus maximus lorem a eros scelerisque, ac condimentum leo euismod.

          Donec nulla magna, sodales id pellentesque id, posuere sit amet leo. Vivamus eu ipsum pharetra, cursus erat at, eleifend mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sit amet ex fringilla, ultricies mauris facilisis, condimentum dolor. Nulla varius luctus urna, ut auctor dolor dapibus id. Suspendisse lobortis pharetra sem, non elementum nisi dictum at. Pellentesque eget tristique odio. Duis quis eros leo. Phasellus felis nunc, rhoncus eu massa elementum, vestibulum finibus mauris. In finibus sed lorem a tincidunt. Vivamus maximus ante ut faucibus convallis. Mauris a vulputate dolor. Sed mattis nunc metus, vel condimentum felis tincidunt rhoncus.</p>
      </div>
      <div class="py-4">
        </div>
    </div>


    <Image src={ContentImage1} alt="Content1" class="rounded-lg w-3/4  mx-auto shadow-md mt-8 mb-4" ></Image>

    <p class="text-lg leading-relaxed">Additional content.</p>
  </div>


</div>

</Test> -->
