--- 
import { Image } from 'astro:assets';
import home1 from '../assets/images/home/1.webp';
import home2 from '../assets/images/home/2.webp';
import home3 from '../assets/images/home/3.webp';


const images = [
  home1,
  home2,
  home3,
];

// <Image src={myImage} alt="Description of the image" />
---

<html>
  <head>
    <style>
      .carousel {
        @apply relative w-full h-screen bg-cover bg-center transition-all duration-1000;
      }
      .overlay {
        @apply absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center;
      }
      .text {
        @apply text-white text-4xl font-bold;
      }
    </style>
  </head>
  <body>
    <div id="carousel" class="carousel">
      <div class="overlay">
        <div class="text">Discover The Unknown</div>
        <a href="../assets/images/home/1.webp">test</a>
      </div>
    </div>

    <script>
      const images = [
        
        '/assets/images/home/1.webp',
        '../assets/images/home/2.webp',
        '../assets/images/home/3.webp',
      ];
      let currentIndex = 0;

      function changeBackgroundImage() {
        const carousel = document.getElementById('carousel');
        carousel.style.backgroundImage = `url(${images[currentIndex]})`;
        currentIndex = (currentIndex + 1) % images.length;
      }

      setInterval(changeBackgroundImage, 7000);
      window.onload = changeBackgroundImage;
    </script>
  </body>
</html>