---
import { Image } from 'astro:assets';
import image1 from '../assets/images/home/1.webp';
import image2 from '../assets//images/home/2.webp';
import image3 from '../assets//images/home/3.webp';


const images = [
  { src: image1, alt: 'Image 1' ,text: 'earth'},
  { src: image2, alt: 'Image 2', text: 'bird' },
  { src: image3, alt: 'Image 3', text: 'mars' },
];
---

<div class="relative w-full h-screen overflow-hidden">
  <div class="carousel relative w-full h-full">
    {images.map((img, index) => (
      <div class="carousel-item absolute inset-0 opacity-0 transition-opacity duration-1000 ease-in-out" data-index={index}>
        <Image src={img.src} alt={img.alt}  loading='eager' class="w-full h-full object-cover" />
        <div class="absolute inset-0 flex items-center justify-center">
          <h1 class="text-white text-4xl font-bold">Discover the Unknown.</h1>
          {/* <h1 class="text-white text-4xl font-bold">Discover {img.text}</h1> */}
        </div>
      </div>
    ))}
  </div>
</div>

<style>
  .carousel-item {
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  .carousel-item.show {
    opacity: 1;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let currentIndex = 0;
    const carouselItems = document.querySelectorAll('.carousel-item');
    const totalItems = carouselItems.length;

    function showNextImage() {
      carouselItems[currentIndex].classList.remove('show');
      currentIndex = (currentIndex + 1) % totalItems;
      carouselItems[currentIndex].classList.add('show');
    }

    // Initially show the first image
    carouselItems[currentIndex].classList.add('show');
    setInterval(showNextImage, 7000);
  });
</script>